%h1 Youtube link Ranking
%h3 LOGX:
%ul.log
  %li Now can add multiple youtube links
  %li Auto retrieve title
%h3 Youtube Links List:
.tubes_list_wrapper
  %ul#tubes_list
    = render @tubes
.tubes_functions_wrapper
  %ul#tubes_functions
    %li= link_to 'Add Youtube Link', new_tube_path
    %li= link_to 'Deletes All Youtube Links', all_tubes_path, :method => 'delete'
